<!-- CURRENTLY NOT IN USE-->

<launch>

    <!-- Launch script for multidrone/swarm with prefix-->
    <!--<group ns="uav0">-->
    <group ns="$(env DRONE_NAME)">
	<!-- vim: set ft=xml noet : -->
	<!-- example launch script for PX4 based FCU's -->
	
	<!-- <arg name="fcu_url" default="udp://:14540@localhost:14557" /> -->
	<arg name="fcu_url" default="/dev/ttyPixhawk:921600" />
	<arg name="ID" value="1"/>
	<!-- <arg name="gcs_url" default="udp://:14557@"/> -->
	<arg name="gcs_url" default="udp://@"  />
	<arg name="tgt_system" default="1" />
	<arg name="tgt_component" default="1" />
	<arg name="log_output" default="screen" />
	<arg name="fcu_protocol" default="v2.0" />
	<arg name="respawn_mavros" default="false" />
        
	<include file="$(find mavros)/launch/node.launch">
		<arg name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml" />
		<arg name="config_yaml" value="$(find mavros)/launch/px4_config.yaml" />
		<arg name="fcu_url" value="$(arg fcu_url)" />
		<arg name="gcs_url" value="$(arg gcs_url)" />
		<arg name="tgt_system" value="$(arg tgt_system)" />
		<arg name="tgt_component" value="$(arg tgt_component)" />
		<arg name="log_output" value="$(arg log_output)" />
		<arg name="fcu_protocol" value="$(arg fcu_protocol)" />
		<arg name="respawn_mavros" default="$(arg respawn_mavros)" />
	</include>

	<include file="$(find realsense2_camera)/launch/rs_t265.launch">
		<arg name="camera" value="t265" />
		<arg name="tf_prefix" value="t265" />
		<arg name="serial_no" value="$(env T265_ID)" />
	</include>

	<include file="$(find realsense2_camera)/launch/rs_camera.launch">
		<arg name="camera" value="d435" />
		<arg name="tf_prefix" value="d435" />
		<arg name="serial_no" value="$(env D435_ID)" />
		<arg name="color_width" value="848" />
		<arg name="color_height" value="480" />
		<arg name="color_fps" value="30" />
		<arg name="depth_width" value="848" /> 
		<arg name="depth_height" value="480" /> 
		<arg name="depth_fps" value="30" /> 
		<arg name="align_depth" value="true" /> 
		<arg name="initial_reset" value="true" /> 
		<arg name="enable_sync" value="true" /> 
	</include>

	<node name="pos_265" pkg="mavros" type="pos_265" />

    <!-- Launch mavros_extras visualization.cpp to show in rviz, DOESNT SEEM TO PUBLISH-->
    <node name="drone_rviz" pkg="mavros_extras" type="visualization" />

    </group>
</launch>
