<launch>

    <!-- Launch script for multidrone/swarm with prefix-->
    <group ns="$(env DRONE_NAME)">
	
	<!-- <arg name="fcu_url" default="udp://:14540@localhost:14557" /> same as the bottom  -->
	<arg name="fcu_url" default="/dev/ttyPixhawk:921600" />
	<arg name="gcs_url" default="udp://:$(env GCS_PORT)@"  />
	<!-- CURRENTLY DOES NOT WORK -->
	<!-- <arg name="system_id" default="3"/> -->
	<arg name="tgt_system" default="$(env DRONE_NUMBER)" />
	<arg name="tgt_component" default="1" />
	<arg name="log_output" default="screen" />
	<arg name="fcu_protocol" default="v2.0" />
	<arg name="respawn_mavros" default="false" />
        
	<include file="$(find mavros)/launch/node.launch">
		<arg name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml" />
		<arg name="config_yaml" value="$(find mavros)/launch/px4_config.yaml" />

		<arg name="fcu_url" value="$(arg fcu_url)" />
		<arg name="gcs_url" value="$(arg gcs_url)" />
		<!-- <arg name="system_id" value="$(arg system_id)" /> -->
		<arg name="tgt_system" value="$(arg tgt_system)" />
		<arg name="tgt_component" value="$(arg tgt_component)" />
		<arg name="log_output" value="$(arg log_output)" />
		<arg name="fcu_protocol" value="$(arg fcu_protocol)" />
		<arg name="respawn_mavros" default="$(arg respawn_mavros)" />
	</include>

	<arg name="global_origin" default="odom" />
	<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher" args="$(env UAV_X) $(env UAV_Y) $(env UAV_Z) 0 0 0 1 $(arg global_origin) $(env DRONE_NAME) 5" />
	<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_t265" args="0 0 0 0 0 0 1 $(env DRONE_NAME) $(env DRONE_NAME)/t265_odom_frame 5" />
	<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_d435i" args="0 0 0 0 0 0 1 $(env DRONE_NAME) $(env DRONE_NAME)/d435i_link 5" />
    </group>

	<!-- <node pkg="tf_publisher" type="tf_broadcaster" name="tf_broadcaster_$(env DRONE_NAME)" output="screen"/> -->

	<node pkg="px4_lights" type="buzzer_ros.py" name="$(env DRONE_NAME)_lights" output="screen"/>
	<node pkg="ros_helper_functions" type="uwb_human_broadcaster" name="tf_broadcaster_$(env DRONE_NAME)" output="screen"/>

</launch>
